body {
    background-image: url("media/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

header {
    font-family: AstroSpace;
    text-align: center;
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 10px white;
}

@font-face {
    font-family: AstroSpace;
    src: url('./media/fonts/AstroSpace.ttf');
    font-weight: bold;
}

.wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

canvas {
    width: 100%;
}

footer>div {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 80%;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    font-family: "Lato", Verdana, Helvetica, Arial, sans-serif;
    color: white;
}

.bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.bottom-bar button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    opacity: 0.8;
    font-size: 30px;
}

.bottom-bar .spin-button {
    width: 100px;
    height: 100%;
}

.bottom-bar span {
    opacity: 1;
    color: white;
    font-size: 30px;
}

.bottom-bar .win-box {
    width: 100%;
    height: 80px;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    text-align: center;
}